@use 'variables'
    
*
    padding: 0
    margin: 0
    font-display: variables.$font-stack
    box-sizing: border-
    
body
    background: variables.$body-bg-color


a,svg
    transition: .4s        